/*PreFixing*/
* {
	padding: 0;
	margin: 0;
}
a {
	color: unset;
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 1px;
}
a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
}
a.hoverd-button {
	background-color: #214958;
    border: 1px solid #214958;
    color: #fff;
}
a.hoverd-button:hover {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
h3, h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold;
}
p {
	font-family: 'BenchNine', sans-serif;
	font-size: 18px;
}
/*INTRO*/
.intro {
	background-color: #1a9ed6;
	color: #fff;
	height: 710px;
	padding-top: 220px;
}
.intro .container {
	padding: 0 130px;
}
.intro-content {
}
.intro h3 {
	margin-bottom: 40px;
}
.intro p {
	color: #8ecfea;
}
.intro a {
    padding: 10px 50px;
    letter-spacing: 2px;
    margin-top: 40px;
}
.intro img {
	max-width: 90%;
}
.icon {
	text-align: center;
}
.icon a:hover {
	color: #3EB38A;
}
.icon i {
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 24px;
}
/*Nav*/
.navbar {
	position: absolute;
    top: 50px;
    width: 100%;
    color: #fff;
}
.navbar img {
	float: left;
	max-width: 150px;
}
.navbar ul {
    text-align: right;
}
.navbar li {
}
.navbar li a{
	padding: 10px 30px;
	border-radius: 5px;
}
.navbar li:last-child {
	margin-right: 0;
}
.navbar .active {
	background-color: #214958;
	border: 1px solid #214958;
}
.navbar .active:hover {
	padding-top: 8px;
	padding-bottom: 8px;
}
/*WhyMe*/
.whyMe, .features {
	padding: 110px 0;
}
.title {
	display: inline-block;
	margin-bottom: 50px;
}
.title h3 {
	padding: 10px 10px;
	color: #505662;
	border-bottom: 3px solid #505662;
}
.item {
	padding: 50px 15px;
}
.item img {
	max-width: 70px;
	float: left;
    margin-right: 20px;
}
.item .item-text {
	display: inline-block;
	width: 60%;
}
.item h4 {}
.item p {}
/*Panner*/
.panner {
	padding: 70px 0;
	background-image: url(../img/panner.png);
	background-size: cover;
	padding: 200px 0;
	color: #fca210;
	text-align: right;
}
.about {
	background-image: url(../img/about.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0;
	color: #fff;
}
.about h3 {
	letter-spacing: 2px;
    line-height: 1.5;
}
.skills {
	margin-top: 100px;
}
.skills ul {
    padding: 20px;
    /*background-color: #d3d3d3;*/
    border-radius: 21px;
    text-align: center;
}
.skills li {
	margin: 10px 10px;
}
.skills img {
	max-width: 100px;
}
/*contact*/
.contacts {
	background-color: #1a9ed6;
	padding: 40px 0;
	text-align: center;
}
.contacts img {
	display: inline-block;
}

/*Footer*/
footer {
	background-color: #214958;
	padding: 100px 0 270px 0;
}
footer ul {
	margin-right: 25px;
}
footer li {
	display: block;
    border-bottom: 1px solid #829da3;
    padding: 5px;
    margin-bottom: 10px;
}
footer a {
	color: #8ba0a8
}
footer a:hover {
	color: #3EB38A;
}

@media(max-width: 930px) {
	.navbar ul {
		display: none;
	}
}
